<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.vasilyev.mappers.MinRouteMapper">

    <insert id="insertEntity"
            parameterType="minRoute">

        INSERT INTO Minroute (StationFrom, StationTo, DepartureDate, ArrivalDate, Train, Route, Sequence)
        VALUES (#{stationFrom},
                #{stationTo},
                #{departureDate},
                #{arrivalDate},
                #{train},
                #{route},
                #{sequence})
    </insert>

    <insert id="insertCollectionOfEntity">

        INSERT INTO Minroute (StationFrom, StationTo, DepartureDate, ArrivalDate, Train, Route, Sequence) VALUES

        <foreach item="element" collection="list" separator=",">
            (#{element.stationFrom},
            #{element.stationTo},
            #{element.departureDate},
            #{element.arrivalDate},
            #{element.train},
            #{element.route},
            #{element.sequence})
        </foreach>
    </insert>

</mapper>