<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="ru.vasilyev.model"/>
    </typeAliases>

    <environments default="DinoExpressTest">
        <environment id="DinoExpressTest">
            <transactionManager type="JDBC"/>

            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/dinoexpresstest"/>
                <property name="username" value="root"/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mappers/wagonTypeMapper.xml"/>
        <mapper resource="mappers/stationMapper.xml"/>
        <mapper resource="mappers/trainMapper.xml"/>
        <mapper resource="mappers/minRouteMapper.xml"/>
        <mapper resource="mappers/routeMapper.xml"/>
        <mapper resource="mappers/userMapper.xml"/>
        <mapper resource="mappers/ticketMapper.xml"/>
    </mappers>


</configuration>