<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="ru.vasilyev.model"/>
    </typeAliases>

    <environments default="mySqlDevelopment">
        <environment id="mySqlDevelopment">
            <transactionManager type="MANAGED">
                <property name="closeConnection" value="true"/>
            </transactionManager>

            <dataSource type="JNDI">
                <property name="data_source" value="java:/DiNoExpress"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mappers/wagonTypeMapper.xml"/>
        <mapper resource="mappers/stationMapper.xml"/>
        <mapper resource="mappers/trainMapper.xml"/>
        <mapper resource="mappers/minRouteMapper.xml"/>
        <mapper resource="mappers/routeMapper.xml"/>
        <mapper resource="mappers/userMapper.xml"/>
        <mapper resource="mappers/ticketMapper.xml"/>
    </mappers>


</configuration>