<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="ru.vasilyev.model"/>
        <package name="ru.vasilyev.wrappers"/>
        <package name="ru.vasilyev.views"/>
    </typeAliases>

    <environments default="mySqlDevelopment">
        <environment id="mySqlDevelopment">
            <transactionManager type="MANAGED">
                <property name="closeConnection" value="true"/>
            </transactionManager>

            <dataSource type="JNDI">
                <property name="data_source" value="java:/DiNoExpress"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mysqlmappers/wagonTypeMysqlMapper.xml"/>
        <mapper resource="mysqlmappers/stationMysqlMapper.xml"/>
        <mapper resource="mysqlmappers/trainMysqlMapper.xml"/>
        <mapper resource="mysqlmappers/minRouteMysqlMapper.xml"/>
        <mapper resource="mysqlmappers/routeMysqlMapper.xml"/>
        <mapper resource="mysqlmappers/userMysqlMapper.xml"/>
        <mapper resource="mysqlmappers/ticketMysqlMapper.xml"/>
    </mappers>


</configuration>