#header {
    height: 100px;
    background-color: #ffb44e;
}

#stationInputRow {
    margin-top: 3%;
}

.container-fluid {
    margin: 1%;
}

#departureStationInput, #arrivalStationInput, #journeyDate {
    width: 180px;
}